[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx.git
	branch = pluto
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/catkira/buildroot.git
	branch = master-next
[submodule "linux"]
	path = linux
	url = https://github.com/catkira/linux
	branch = antsdr
[submodule "hdl"]
	path = hdl
	url = https://github.com/catkira/adi-hdl
	branch = master
